.app__about {
  background-color: var(--secondary-color);
}

.app__about-content {
  display: flex;
  flex-flow: row-wrap;

  @media screen and (max-with: 1024px) {
    flex-direction: column;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.app__about-content_item1 {
  margin-top: 3rem;

  h1 {
    font-size: 1rem;
  }
  p {
    text-align: center;
    padding: 1rem 0;
  }
}
.app__about-content_item2 {
  img {
    width: 600px;

    @media screen and (max-width: 1024px) {
      width: 450px;
    }

    @media screen and (max-width: 768px) {
      width: 350px;
      margin: 0 12rem;
    }

    @media screen and (max-width: 480px) {
      width: 250px;
      margin: 0 6rem;
    }
  }
}

.app__about-content_item3 {
  margin-top: 15rem;

  h1 {
    font-size: 1rem;
  }
  p {
    text-align: center;
    padding: 1rem 0;
  }

  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}
