.app__testimonialcard {
  flex-grow: 1;
  flex-basis: 200;
  margin: 0 2rem;

  position: relative;
  background-color: var(--white-color);

  padding: 1rem;
  box-shadow: 0 8px 20px hsla(19, 64%, 48%, 0.08);
  border-radius: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app__testimonialcard-profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 1rem;

  img {
    margin-right: 1rem;
  }
  div {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__testimonialcard-comment {
  margin: 0.5rem 1rem;
}
