.app__sectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 900;
    font-size: 2.5rem;
    font-family: var(--font-base);
  }

  p {
    font-weight: 900;
    font-size: 1.2rem;
    font-family: var(--font-base);
  }
}
