.app__newsletter {
  padding: 1rem 2rem;

  @media screen and (max-width: 1024px) {
    padding: 1rem;
  }

  @media screen and (max-width: 480px) {
    padding: 1rem;
  }
}

.app__newsletter-content {
  background-color: var(--primary-color);
  border-radius: 24px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);
  width: 1196px;
  height: 379px;
  display: flex;
  position: relative;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  .newsletter_img-1 {
    width: 307.02px;
    height: 190px;
    position: absolute;
    bottom: -0rem;
    left: -0.1rem;

    @media screen and (max-width: 1024px) {
      width: 248px;
      height: 150px;
    }

    @media screen and (max-width: 768px) {
      width: 150px;
      height: 100px;
    }
  }

  .newsletter_img-2 {
    width: 282.518px;
    height: 209.349px;
    position: absolute;
    right: -0rem;
    bottom: 8rem;

    @media screen and (max-width: 1024px) {
      width: 200px;
      height: 150px;
    }

    @media screen and (max-width: 768px) {
      width: 100px;
      height: 100px;
      top: 1rem;
    }
  }
}

.app__newsletter-content_data {
  // margin: 5rem 20rem;
  div {
    flex-direction: column;
  }

  @media screen and (max-width: 480px) {
    width: 90%;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;

    @media screen and (max-width: 480px) {
      font-size: 1.5rem;
    }
  }

  p {
    width: 329px;
    padding: 1rem;
    text-align: center;
    // margin: 0 4rem;
  }
}

.app__newsletter__form {
  background-color: #fff;
  padding: 5px 5px 5px 16px;
  border-radius: 4rem;
  display: flex;
  column-gap: 0.5rem;
  @media screen and (max-width: 480px) {
    width: 100%;
    column-gap: 0.1rem;
  }

  .app__newsletter__input {
    width: 70%;
    color: var(--black-color);
    border: none;
    outline: none;
  }

  .app__button-svg {
    padding-left: 8px;
  }
}
