.app__testimonial {
  background-color: var(--primary-color);
}

.app__testimonial-content {
  display: flex;
  flex-flow: row-wrap;

  @media screen and (max-width: 768px) {
    flex-flow: column;
  }
}

.app__testimonial-content_leftside {
  padding: 2rem;

  h1 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    font-family: var(--font-base);

    @media screen and (max-width: 1024px) {
      font-size: 2rem;
    }
  }

  img {
    @media screen and (max-width: 768px) {
      padding: 0 8rem;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
      padding: 0 1rem;
    }
  }
}
