.app__todaysmenu-content {
  padding: 1rem;
  margin-top: 5rem;

  img {
    @media screen and (max-width: 1024px) {
      width: 500px;
      padding-top: 3rem;
    }

    @media screen and (max-width: 768px) {
      // width: 400px;
      margin-left: 8rem;
    }
    @media screen and (max-width: 480px) {
      width: 200px;
      margin: 0;
    }

    @media screen and (max-width: 320px) {
      width: 150px;
      margin: 0;
    }
  }
}
